---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import json from "../../output.json";

const calcRemainingDays = (return_date: string) => {
  const today = new Date();
  const returnDate = new Date(return_date);
  const diffDays = Math.ceil(
    (returnDate.getTime() - today.getTime()) / (1000 * 60 * 60 * 24)
  );
  return diffDays;
};
---

<Layout title="図書ビューワ" description="図書ビューワ by かろ噴水">
  <main>
    <section class="flex flex-col items-center h-screen gap-4">
      {
        json.map(({ detail, return_date, image_url, lend_date }) => (
          <Card
            title={detail}
            lend_date={lend_date}
            return_date={return_date}
            image_url={image_url}
            remaining_days={calcRemainingDays(return_date)}
          />
        ))
      }
    </section>
  </main>
</Layout>
